{% extends "base.html" %}
{% load static %}

{% block content %}
    <h1 class="title">Cart</h1>

    <div class="row cart">
        <div class="col-lg-12">
            <div class="box-element">
                <div class="cart-row">
                    <div style="flex:2"></div>
                    <div style="flex:2"><strong>Item</strong></div>
                    <div style="flex:1"><strong>Price</strong></div>
                    <div style="flex:1"><strong>Quantity</strong></div>
                    <div style="flex:1"><strong>Total</strong></div>
                    <div style="flex:1"></div>
                </div>
        
                {% for item in object.items.all %}
                <hr>
                <div class="cart-row">
                    <div style="flex:2"><img class="row-image" src="{{ item.product.item_image.url }}"></div>
                    <div style="flex:2"><p>{{ item.product.item_name }}</p></div>
                    <div style="flex:1"><p>${{ item.product.item_price }}</p></div>
                    <div style="flex:1">
                        <span class="quantity">x{{item.quantity}}</span> <a href="{{ item.product.get_remove_one_from_cart_url }}"><i class="fas fa-minus-circle"></i></a>
                    </div>
                    <div style="flex:1"><p>${{ item.get_total }}</p></div>
                    <div style="flex:1"><a href="{{ item.product.get_remove_from_cart_url }}" class="btn btn-danger ms-auto"><i class="fas fa-trash"></i></a></div>
                </div>
                {% endfor %}
            </div>

            <div class="box-element">
                <table class="table">
                    <tr>
                        <th><h2><strong>Total:</strong> ${{object.get_cart_total}}</h2></th>
                        <th id="checkout-btn"><a href= "{{ object.checkout }}" class="btn btn-primary">Check Out</a></th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    
{% endblock %}