{% extends "base.html" %} 
{% load static %}

{% block content %}
<img src = "{%static 'images/laptop.jpeg'%}" id = "contact">


<p id = "info"> <b style = "font-size: larger;">WE'D LOVE TO HEAR FROM YOU</b><br>
    
    
    <br><b>CHAT WITH US</b><br>
    You can chat our assistant 24/7 for answers to frequently asked questions, and be put through <br>to a live agent if you need more help.<br>
    <br><b>CALL US</b><br>
    +1(888)NOW-MONY<br>
    516-512-9644(Toll-free)<br><br>

    <b>OPENING HOURS<br></b>
     We offer 24/7 customer Service<br>
        Trung tâm trợ giúp : 7AM ~ 10PM<br>
        한국어 도움이 필요하시다면 : 7AM ~ 10PM<br><br>
    <b>LET'S CONNECT ON SOCIAL MEDIA</b><br>
    <a href ="{%static 'images/lol.jpeg'%}" style = 'text-decoration: underline;'>Facebook</a>    <br>
    <a href ="{%static 'images/lol2.jpeg'%}" style = 'text-decoration: underline;'>Twitter</a> <br>
    <a href ="{%static 'images/lol3.png'%}" style = 'text-decoration: underline;'>Instagram</a> <br><br><br>
    </p>

    
{% endblock%}